<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    <div class="login-container">
        <div class="login-image-logo-container">
            <img th:src="@{/images/faculdade.jpg}" alt="Logo faculdade">
        </div>
        <div class="login-form">
            <form th:action="@{/register}" method="post" class="login-form">
                <h4 class="login-title">Cadastre-se</h4>
                
                <div th:if="${erro}" class="mensagem-erro">
                    <span th:text="${erro}"></span>
                </div>

                <input type="text" name="username" placeholder="Nome/usuário">
                <input type="email" name="email" placeholder="E-mail">
                <input type="cpf" id="cpf" name="cpf" placeholder="CPF" required>
                <input type="endereco" id="endereco" name="endereco" placeholder="Endereço" required>
                <select name="Tipo de usuário" id="tipoUsuario" placeholder="Tipo de usuário" required>
                    <option value="" selected disabled>Tipo de usuário</option>
                    <option value="Aluno">Aluno</option>
                    <option value="Professor">Professor</option>
                    <option value="Funcionário">Funcionário</option>
                    <option value="Administração">Administração</option>
                </select>
                <input type="password" name="password" placeholder="Senha">
                <input type="password" name="confirmPassword" placeholder="Confirmar senha">
                <div class="login-button-container">
                    <button type="submit">Cadastrar</button>
                </div>
                <p class="login-redirect-options">
                    Já tem cadastro?<br>
                    <a href="/login">Entre</a>
                </p>
            </form>
        </div>
    </div>
</body>
</html>
